{
	"appId":"ONEXC77E7AD181624",
	"appKey":"ONEXC77E7AD181624_ANDROID",
	"base64Code":"",
	"packageName":"com.mrcodesniper.pushlayer",
	"rootPath":"mpaas/android/ONEXC77E7AD181624-codesniper",
	"workspaceId":"codesniper",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm"
}